<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="referrals">
    <div id="content" class="refers">
        <div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Convide seus amigos e ganhe bônus!</h2></div>
                <div class="sect islogin">
					<!--{if $money}-->
					<p class="notice-total">Você convidou <strong>{$count}</strong> pessoas, ganhe <strong><span class="money">{$currency}</span>{$count*$INI['system']['invitecredit']}</strong> em cr&eacute;ditos, <a href="/account/refer.php">Confira sua lista</a>.</p>
					<!--{/if}-->
					<p class="intro">Assim que seu amigo aceitar um convite, nós vamos te presentear com {$INI['system']['invitecredit']} reais em sua conta. Você poder&aacute; usar esse valor para aproveitar nossas ofertas. Quanto mais amigos convidar, mais bônus irá ganhar!</p>
					<div class="share-links">
						<ul class="share-list cf">
							<li class="site">
								<a class="logo" href="javascript:void 0" id="referrals-share-others-link"><img src="/static/css/i/logo_msn.png" /></a>
								<p class="im">Veja o link para informar aos seus amigos: <input id="share-copy-text" type="text" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" size="35" class="f-input" onfocus="this.select()" /></p>
							</li>
						</ul>
						<div class="refer-box">
							<div class="refer-box-top"></div>
							<div class="refer-box-content">
								<table class="deal-info">
									<td class="pic"><a href="/team.php?id={$team['id']}" target="_blank"><img src="${team_image($team['image'])}" width="150" height="90" /></a></td>
									<td class="deal-title">{$team['title']}</td>
								</table>
								<ul class="share-list">
									<li><a class="logo" href="${share_facebook($team)}" target="_blank" title="Share this deal with your friends and you can get ${$INI['system']['invitecredit']} rebate"><img src="/static/css/i/logo_facebook.png" /></a><p class="link"><a href="${share_facebook($team)}" target="_blank" title="Invite your friends here and you will get ${$INI['system']['invitecredit']} rebate ">Facebook</a></p></li>
									<li><a class="logo" href="${share_twitter($team)}" target="_blank" title="Share this deal with your friends and you can get ${$INI['system']['invitecredit']} rebate"><img src="/static/css/i/logo_twitter.jpg" /></a><p class="link"><a href="${share_twitter($team)}" target="_blank" title="Invite your friends here and you will get ${$INI['system']['invitecredit']} rebate">Twitter</a></p></li>
								</ul>
								<div class="clear"></div>
							</div>
							<div class="refer-box-bottom"></div>
						</div>
					</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
		<!--{include block_side_invitetip}-->
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->

