<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="reset">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Senha alterada com sucesso!</h2></div>
                <div class="sect">
					<p class="notice">OK! Por favor clique <a href="/account/login.php">aqui</a> para logar.</p>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>

</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->

