<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">Onde eu posso obter informações sobre meus convites? </h3>
			<p>Se seu convite for validado, ele poderá ser visto nas configurações de sua conta.</p>
			<h3>Meu amigo se registrou no {$INI['system']['abbreviation']}, eu ainda posso conseguir o desconto? </h3>
			<p>Só se ele estiver comprando pela primeira vez. {$INI['system']['abbreviation']} . </p>
			<h3>Quando meu convite será considerado inválido? </h3>
			<ul class="invalid">

			<li>Você pode usar somente após 72 horas.</li>
			<li>Seu amigo aceitou outro convite antes de comprar uma oferta.</li>
			<li>Seu amigo não esta efetuando a primeira compra aqui. </li>
			<li>A oferta foi cancelada pois não atingiu o mínimo exigido.</li>
			</ul>
			<h3>Vou receber se eu me convidar? </h3>

			<p>Não, isto não é permitido.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>

