<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">O que são créditos? </h3>
			<p>Os créditos podem ser utilizados para aproveitas as ofertas no {$INI['system']['sitename']}.</p>
			<h3>Como eu coloco credito na minha conta? </h3>
			<p>Se alguma compra falhar e você tiver pago, o dinheiro volta em créditos, para você gastar com outra oferta.</p>
			<h3>Como consigo créditos de outra forma? </h3>
			<p>Convide seus amigos e ganhe créditos.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>

