<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">O que é um {$INI['system']['couponname']}? </h3>
			<p>{$INI['system']['couponname']} é o papel que lhe concede o desconto. Você pode receber por email e imprimir.</p>
			<h3>Como usar um {$INI['system']['couponname']}? </h3>
			<p>Imprima o {$INI['system']['couponname']} e mostre no local indicado.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>

