<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="bb5c110b0512ff89999a055118a84509">
<head>
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title>Instalação</title>
	<link rel="shortcut icon" href="static/icon/favicon.ico" />
	<link rel="stylesheet" href="static/css/index.css" type="text/css" media="screen" charset="utf-8" />
	<script src="static/js/index.js" type="text/javascript"></script>
</head>
<body class="newbie">
<div id="pagemasker"></div><div id="dialog"></div>
<div id="doc">

<div id="hdw">
	<div id="hd">
		<div id="logo"><a href="index.php" class="link"><img src="static/css/i/logo.png" /></a></div>
		<div class="guides">
			<div class="city">
				<h2>Instalação</h2>
			</div>
		</div>
		<ul class="nav cf"><li class="current"><a href="install.php">Instalação</a></li></ul>
				<div class="logins">
			<ul id="account">
				<li class="username">Bem vindo a instalação do GROUPON CLONE.</li>
			</ul>
			<div class="line islogin"></div>
		</div>
			</div>
</div>

<!--{if $session_notice=Session::Get('notice',true)}-->
<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p><span class="close">Fechar</span></div></div>
<!--{/if}-->
<!--{if $session_notice=Session::Get('error',true)}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">Fechar</span></div></div>
<!--{/if}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Instalação</h2></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="install.php">
					<input type="hidden" name="id" value="100027" />
						<div class="wholetip clear"><h3>1. Configurações do Banco de dados</h3></div>
                        <div class="field">
                            <label>HostName</label>
                            <input type="text" size="30" name="db[host]" id="partner-create-username" class="f-input" value="{$db['host']}" />
                        </div>
                        <div class="field">
                            <label>Usuario</label>
                            <input type="text" size="30" name="db[user]" id="settings-password" class="f-input" value="{$db['user']}" />
                        </div>
                        <div class="field password">
                            <label>Senha</label>
                            <input type="text" size="30" name="db[pass]" id="settings-password" class="f-input" value="{$db['pass']}" />
                        </div>
                        <div class="field password">
                            <label>Nome do banco</label>
                            <input type="text" size="30" name="db[name]" id="settings-password-confirm" class="f-input" value="{$db['name']}" />
                        </div>

						<div class="wholetip clear"><h3>2. Configurações de pastas</h3></div>
						<div style="margin:20px; line-height:20px;">
							<h4>De CHMOD 777 nas pastas</h4>
							<ul>
							<li>Pasta: include/configure ---------------- <b>${!is_writable('include/configure') ? '<font color="red">Sem permissão</font>':'<font color="green">Com permissão</font>'}</b></li>
							<li>Pasta: include/data/ ---------------- <b>${!is_writable('./include/data') ? '<font color="red">Sem permissão</font>':'<font color="green">Com permissão</font>'}</b></li>
							<li>Pasta: static/team/ ---------------- <b>${!is_writable('./static/team') ? '<font color="red">Sem permissão</font>':'<font color="green">Com permissão</font>'}</b></li>
							<li>Pasta: static/user/ ---------------- <b>${!is_writable('./static/user') ? '<font color="red">Sem permissão</font>':'<font color="green">Com permissão</font>'}</b></li>
							</ul>
						</div>
                        <div class="act">
                            <input type="submit" value="Instalar" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<div id="ftw">
	<div id="ft">
		<p class="contact"><a href="/feedback/suggest">Feedback</a></p>
		<ul class="cf">
			<li class="col">
				<h3>Ajuda</h3>
				<ul class="sub-list">
					<li><a href="http://www.alstrasoft.com/">Installation</a></li>
				</ul>
			</li>
			<li class="col">
				<h3></h3>
				<ul class="sub-list">
					<li><a href="http://www.alstrasoft.com/">BBS</a></li>
				</ul>
			</li>
			<li class="col">
				<h3>Parceiros</h3>
				<ul class="sub-list">
					</ul>
			</li>
			<li class="col">
				<h3>Compania</h3>
				<ul class="sub-list">
				</ul>
			</li>
			<li class="col end">
					<div class="logo-footer">
						<a href="index.php"><img src="static/css/i/logo-footer.png" /></a>
					</div>
			</li>
		</ul>
		<div class="copyright">
		<p>&copy;<span>2010</span>&nbsp;AlstraSoft. All Right Reserved &nbsp;<a href="/about/terms.php"> Read Before Installation</a>&nbsp;</p>
		</div>
	</div>
</div>
</div>
</body>
</html>

