<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="help">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('upgrade')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Group Buy Enterprise Software</h2>
				</div>
                <div class="sect">

					<div class="wholetip clear"><h3>Atualizar</h3></div>
					<div style="margin:0 20px;">
						<p>1</p>
						<p>2.</p>
						<p>3.</p>
					</div>
				</div>
			</div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->

