<FilesMatch "\.(ttf|otf|eot|woff|css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

AddType image/svg+xml svg svgz
AddEncoding gzip svgz
AddType application/vnd.ms-fontobject eot
AddType font/truetype ttf
AddType font/opentype otf
AddType application/x-font-woff woff

RewriteEngine on
# RewriteOptions MaxRedirects=10
# RewriteLog ./lugarmedico.log
# RewriteLogLevel 3

# ReadmeName /ztag/dir/readme.html
# HeaderName /ztag/dir/header.shtml

IndexOptions +FoldersFirst +IgnoreCase +DescriptionWidth=* +NameWidth=* +ScanHTMLTitles

Options +FollowSymLinks

DirectoryIndex index.ztag default.ztag index.php default.php index.html index.htm

ErrorDocument 401 /error/error.ztag?error=401
ErrorDocument 402 /error/error.ztag?error=402
ErrorDocument 403 /error/error.ztag?error=403
ErrorDocument 404 /error/error.ztag?error=404

#ErrorDocument 400 /400_BAD_REQUEST
#ErrorDocument 401 /401_UNAUTHORIZED
#ErrorDocument 402 /402_PAYMENT_REQUIRED
#ErrorDocument 403 /403_FORBIDDEN
#ErrorDocument 404 /404_NOT_FOUND

# para definir a página em construção
RewriteCond %{HTTP_HOST} ^lugarmedi\.co$ [NC]
RewriteCond %{REQUEST_URI} ^/.*\.ztag$ [NC]
RewriteRule .* http://lugarmedi.co/construction.html [L,R=302]

# Muda sempre para o dominio lugarmedi.co
RewriteCond %{HTTP_HOST} !^lugarmedico\d?\.zyc.com\.br$ [NC]
RewriteCond %{HTTP_HOST} !^lugarmedi\.co$ [NC]
RewriteRule ^(.*)$ http://lugarmedi.co/$1 [R=301,L]

# For zTag scripts
RewriteRule ^(.*)\.ztag$ /ztag/ztag.php?temp=$1.ztag [QSA,NC,L]
