    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />

    <meta name="ICBM" content="-2.506116,-44.303822" />
    <meta name="DC.title" content="Direito 2" />
    <meta name="geo.position" content="-2.506116;-44.303822" />
    <meta name="geo.region" content="BR-MA" />
    <meta name="geo.placename" content="São Luís, Maranhão" />

    <meta name="nac" content="C976D GKG2G" />

    <link rel="start" title="Página inicial" href="http://www.direito2.com.br/" />
    <link rel="bookmark" title="Conteúdo" href="#conteudo" />
    <link rel="Index" title="Início do Menu" href="#menu" />

    <link rel="search" title="Busca do site" href="#busca" />

    <link rel="stylesheet" type="text/css" href="/geral.css" media="all" />

    <link rel="stylesheet" type="text/css" href="/acessibilidade.css" media="all" />

    <link rel="stylesheet" type="text/css" href="/geralprint.css" media="print" />

    <link rel="alternate" type="application/atom+xml" title="Direito 2 em Atom" href="http://www.direito2.com.br/atom.xml"/>
    <link rel="alternate" type="application/rss+xml" title="Direito 2 em RSS" href="http://www.direito2.com.br/rss.xml"/>

