  <div id="rodape">
    <address>© 1999 - 2009 Direito2.com.br® alguns direitos reservados.</address>
    <div class="declaracao">
      <center>
        <a href="/ApresentaSite.asp?o=100&t=12" rel="nofollow">Termos de Uso</a>&nbsp;-&nbsp;<a href="/ApresentaSite.asp?o=100&t=13" rel="nofollow">Privacidade</a>&nbsp;-&nbsp;<a href="/ApresentaSite.asp?o=100&t=14" rel="nofollow">Alerta</a>&nbsp;-&nbsp;<a href="/ApresentaSite.asp?o=100&t=15" rel="nofollow">Informar Bug</a>&nbsp;-&nbsp;<a accesskey="0" href="/ApresentaSite.asp?o=100&t=16" rel="nofollow">Acessibilidade</a>
        <br /><br />Todo o conteúdo poderá ser copiado desde que devidamente identificada a origem.
        <script language="javascript" src="/OMPageCounter.js" type="text/JavaScript"></script>
        <script type="text/javascript">
          if (intOMVezes > 1) strOMS = 'es';
          if (intOMVezes != 0) document.write('<br /><br />Esta página foi visualizada ' + intOMVezes + ' vez' + strOMS);
        </script>
        <br /><br />Processada em <ZTagProcessingTimeSeconds>s
      </center>
    </div>
    <div class="feeds">
      <a href="/rss.xml" title="Feed RSS" rel="nofollow"><img src="/imagens/rssnovo2.gif" alt="RSS - Really Simple Sindication" width="40" height="15"/></a>
      <br /><a href="/ApresentaSite.asp?o=100&t=9" rel="nofollow" title="RSS? O que é isso?">O&nbsp;que&nbsp;&eacute;&nbsp;isso?</a>
    </div>
    <div class="bbrasil"><img src="/Library/bbrasil.gif" border="0" alt="Brasil" width="80" height="15"/></div>
    <div class="acessobr"><a href="http://www.dasilva.org.br/" rel="nofollow" target="_blank" title="Aprovado - Acessibilidade Brasil"><img src="/Library/AcessoBR.gif" border="0" alt="Aprovado - Acessibilidade Brasil" width="80" height="15"/></a></div>

    <div class="wez"><a href="http://www.wez.com.br/" rel="nofollow" target="_blank" title="Powered by WeZ">WeZ</a></div>

    <div class="naclocal"><a href="http://geo.wez.com.br/Default.htm?nac=C976D GKG2G" title="NAC: C976D GKG2G" rel="nofollow" target="_blank"><img src="/nacC976D-GKG2G.gif" border="0" alt="NAC: C976D GKG2G" width="80" height="15"/></a></div>
    <div class="geourl"><a href="http://geourl.org/near?p=http://www.direito2.com.br/" title="Veja meus vizinhos na Internet" rel="nofollow" target="_blank"><img src="/Library/geourl.gif" border="0" alt="Veja meus vizinhos na Internet" width="80" height="15"/></a></div>
    <div class="w3xhtml"><a href="http://validator.w3.org/check?uri=http://www.direito2.com.br<ZTagRealURL>" rel="nofollow" target="_blank" title="Valid XHTML 1.1"><img src="/Library/W3XHTML1.1.gif" border="0" alt="Valid XHTML 1.1" width="80" height="15"/></a></div>
    <div class="w3css"><a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.direito2.com.br<ZTagRealURL>&usermedium=all" rel="nofollow" title="Valid CSS!" target="_blank"><img src="/Library/W3CCSS.gif" border="0" alt="Valid CSS!" width="80" height="15"/></a></div>
    <div class="anybrowser"><a href="http://www.anybrowser.org/campaign/anybrowser_br.html" rel="nofollow" title="Any Browser" target="_blank"><img src="/Library/anybrowser.gif" border="0" alt="Any Browser" width="80" height="15"/></a></div>
    <div class="tableless"><a href="http://w3tableless.com?uri=http://www.direito2.com.br/" rel="nofollow" title="Valid Table Less" target="_blank"><img src="/Library/W3TableLess.gif" border="0" alt="W3 Table Less" width="80" height="15"/></a></div>
  </div>

