<!-- SiteSearch Google -->
<form action="http://www.direito2.com.br/GoogleSiteSearch.htm" id="cse-search-box" method="get">
  <div id="GoogleSearch">
    <input type="hidden" name="client" value="pub-3230208523731980"/>
    <input type="hidden" name="forid" value="1"/>
    <input type="hidden" name="channel" value="9895025956"/>
    <input type="hidden" name="ie" value="ISO-8859-1"/>
    <input type="hidden" name="oe" value="ISO-8859-1"/>
    <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:11"/>
    <input type="hidden" name="hl" value="pt"/>
    <input type="hidden" name="num" value="20"/>
    <input type="hidden" name="lr" value="lang_pt"/>
    <input type="hidden" name="ft" value="i"/>
    <input type="hidden" name="as_qdr" value="all"/>
    <input type="hidden" name="as_occt" value="any"/>
    <input type="hidden" name="cr" value="countryBR"/>
    <input type="hidden" name="safe" value="active"/>

    <input type="text" id="q" name="q" accesskey="g" size="30" maxlength="2048" />

    <select name="as_qdr">
      <option value="all">em qualquer data</option>
      <option value="d">nas últimas 24 horas</option>
      <option value="w">na última semana</option>
      <option value="m">no último mês</option>
      <option value="m2">últimos 2 meses</option>
      <option value="m3">últimos 3 meses</option>
      <option value="m6">últimos 6 meses</option>
      <option value="y">no último ano</option>
    </select>

    <input type="submit" name="btnG" value="Pesquisar" />
    <br />
    <input type="radio" name="as_sitesearch" value="www.direito2.com.br" checked> Direito 2
    <input type="radio" name="as_sitesearch" value=""> Pesquisa na web
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=pt"></script>
<!-- SiteSearch Google -->
