<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>RZJ<ZTagPageTitle></title>

    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />

    <meta name="ICBM" content="-2.506116,-44.303822" />
    <meta name="DC.title" content="Ruben Zevallos Jr." />
    <meta name="geo.position" content="-2.506116;-44.303822" />
    <meta name="geo.region" content="BR-MA" />
    <meta name="geo.placename" content="São Luís, Maranhão" />

    <link rel="alternate" type="application/rss+xml" title="Ruben Zevallos Jr. em RSS" href="http://ruben.zevallos.com.br/rss.xml"/>
    <link rel="alternate" type="application/atom+xml" title="Ruben Zevallos Jr. em Atom" href="http://ruben.zevallos.com.br/atom.xml"/>

    <link href="/geral.css" rel="stylesheet" type="text/css" />

    <link rel="start" title="Página inicial" href="http://ruben.zevallos.com.br/" />
    <link rel="contents" title="Mapa do Site" href="/ApresentaSite.asp?o=400" />
    <link rel="search" title="Busca do site" href="/ApresentaSite.asp?o=110" />
    <link rel="help" title="Ajuda do site" href="/ApresentaSite.asp?o=100&t=17" />
    <link rel="author" title="Envio de informações" href="mailto:info@zevallos.com.br" />
    <link rel="copyright" title="Terms de Uso" href="/ApresentaSite.asp?o=100&t=1659" />
    <link rel="up" title="Mapa do Site" href="/ApresentaSite.asp?o=400" />
    <link rel="first" title="Apresentação" href="/ApresentaSite.asp?o=100&T=1568" />
    <link rel="last" title="Ajuda do Site" href="/ApresentaSite.asp?o=100&t=17" />

    <script src="/funcoes.js" type="text/javascript" language="JavaScript"></script>
  </head>
<body>
<div id="corpo">
  <div id="topo">
  	<div id="logo"><a accesskey="1" href="/"><img src="/imagens/topo2.gif" alt="Ruben Zevallos Jr." /></a></div>
    <div id="logobeta"><img src="/imagens/logobeta.gif" alt="Beta" /></div>
  	<div id="banner">
      <script type="text/javascript">
        google_ad_client = "pub-3230208523731980";
        google_ad_width = 468;
        google_ad_height = 60;
        google_ad_format = "468x60_as";
        google_ad_channel ="";
        google_color_border = "CCCCCC";
        google_color_bg = "FFFFFF";
        google_color_link = "000000";
        google_color_url = "666666";
        google_color_text = "333333";
      </script>
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </div>
  	<div id="contato">
  	  <a accesskey="=" href="/ApresentaSite.asp?o=200">Fale Conosco</a>
  	  <br /><a accesskey=";" href="/ApresentaSite.asp?o=400">Mapa do Site</a>
  	  <br /><a accesskey="/" href="/ApresentaSite.asp?o=100&t=17">Ajuda</a>
    </div>
  </div>
  <!-- FIM TOPO -->

  <div id="barra">
    <form action="/ApresentaSite.asp?o=110" method="get" enctype="multipart/form-data">
    	<div class="busca">
        <ins><input name="o" value="110" type="hidden" /></ins>
        <strong>Busca:</strong>&nbsp;
        <input accesskey="4" id="objFind" name="txtFind" type="text" size="12" value="Busca de conteúdo na Internet" onfocus="clearDefault(this)" title="Campo para a busca em todas as páginas do site"/>&nbsp;
        <input class="btnSearch" type="submit" name="Submit" value="ok" />
      </div>
    </form>
  	<div class="trackline"><ZTagTrackingLine></div>
  </div>

  <div id="colesq">
    <div id="menu"><dl id="objZTagMenuLeft">&nbsp;</dl></div>
  </div>
  <script language="javascript" src="/MenuLeft.js" type="text/JavaScript"></script>

  <!-- SiteSearch Google -->
  <form method="get" action="http://ruben.zevallos.com.br/GoogleSiteSearch.htm">
    <div id="GoogleSearch">
      <a href="http://www.google.com/" title="Google"><img src="http://www.google.com/logos/Logo_25wht.gif" alt="Google"/></a>&nbsp;
      <input type="text" id="q" name="q" size="31" maxlength="255" id="objGoogleInput" value="Busca de conteúdo na Internet" onfocus="clearDefault(this)" title="Campo de busca do Google na Internet" />
      <input type="submit" name="sa" value="Pesquisar" />
      <input type="hidden" name="client" value="pub-3230208523731980"/>
      <input type="hidden" name="forid" value="1"/>
      <input type="hidden" name="channel" value="6311113257"/>
      <input type="hidden" name="ie" value="ISO-8859-1"/>
      <input type="hidden" name="oe" value="ISO-8859-1"/>
      <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:11"/>
      <input type="hidden" name="hl" value="pt"/>
    </div>
  </form>
  <!-- SiteSearch Google -->

  <div>
    <!-- Google Search Result Snippet Begins -->
    <div id="googleSearchUnitIframe"></div>
    <script type="text/javascript">
       var googleSearchIframeName = 'googleSearchUnitIframe';
       var googleSearchFrameWidth = 500;
       var googleSearchFrameborder = 0 ;
       var googleSearchDomain = 'www.google.com.br';
    </script>
    <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
    <!-- Google Search Result Snippet Ends -->
  </div>

  <div id="caixaRodape">
    <script type="text/javascript">
      google_ad_client = "pub-3230208523731980";
      google_ad_width = 468;
      google_ad_height = 60;
      google_ad_format = "468x60_as";
      google_ad_channel ="";
      google_color_border = "CCCCCC";
      google_color_bg = "FFFFFF";
      google_color_link = "000000";
      google_color_url = "666666";
      google_color_text = "333333";
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  </div>

  <div id="rodape">
    <address>© 2002 - 2007 Por Ruben Zevallos Jr.® alguns direitos reservados.</address>
    <div class="declaracao">
      <strong>Declaração:</strong>
      <br />O conteúdo deste site, inclusive os textos, são pessoais e fundamentados exclusivamente nas experiências do Autor; não devendo portanto serem vistos e nem utilizados como orientação ou tratamento psicológico, terapêutico, psiquiátrico ou semelhante. A leitura, uso e indicação, em parte ou na totalidade, bem como as conseqüências ou resultados práticos pela utilização do mesmo, é de inteira responsabilidade do Leitor. Ao Autor não cabe nenhuma atribuição Legal por quaisquer alterações emocionais, intelectuais, sexuais ou de personalidade, ocorridas após a leitura dos textos aqui postados.
      <center>
        <br /><br /><a href="/ApresentaSite.asp?o=100&t=1659">Termos de Uso</a>&nbsp;-&nbsp;<a href="/ApresentaSite.asp?o=100&t=1657">Privacidade</a>&nbsp;-&nbsp;<a href="/ApresentaSite.asp?o=100&t=1656">Alerta</a>&nbsp;-&nbsp;<a href="/ApresentaSite.asp?o=100&t=1658">Informar Bug</a>&nbsp;-&nbsp;<a accesskey="0" href="/ApresentaSite.asp?o=100&t=1920">Acessibilidade</a>
        <br /><br />Todo o conteúdo poderá ser copiado desde que devidamente identificado com a origem.
        <br /><br />Sendo o nome do autor e com o endereço http://ruben.zevallos.com.br.
        <br /><br /><a href="http://creativecommons.org/licenses/by-nc-sa/2.5/br/deed.pt" rel="nofollow" title="Creative Commons" target="_blank"><img src="/imagens/cc.gif" title="Creative Commons" alt="Creative Commons"/>
        <br />Creative Commons</a>
        <br /><br />Alguns direitos reservados
      </center>
    </div>
    <div class="feeds">
      <a href="/rss.xml"><img src="/imagens/rssnovo2.gif" alt="RSS - Really Simple Sindication" /></a>
      <br /><a href="/ApresentaSite.asp?o=100&t=1583">O&nbsp;que&nbsp;&eacute;&nbsp;isso?</a>
    </div>
    <div class="wez"><a href="http://www.wez.com.br/" rel="nofollow" target="_blank">WeZ</a></div>
    <div class="nac"><a href="http://geo.wez.com.br/Default.htm?nac=C976D GKG2G" rel="nofollow" target="_blank">NAC: C976D GKG2G</a></div>
    <div class="geourl"><a href="http://geourl.org/near?p=http://ruben.zevallos.com.br/" style="text-decoration:none;" rel="nofollow" title="check out my neighbors in meatspace" target="_blank"><span style="font-family: verdana, sans-serif;font-size: 11px;font-weight:bold;color:white;background-color:#8ca3c3;border-left:1px solid #ccf; border-top:1px solid #ccf;border-right:1px solid #55a;border-bottom:1px solid #55a;padding:0px 3px 0px 3px;margin:0px;">GeoURL</span></a></div>
    <div class="bbrasil"><img src="/Library/bbrasil.gif" border="0" alt="Brasil" width="80" height="15"/></div>
  </div>
</div>
<div><img src="http://stats.wez.com.br/ruben.zevallos.com.br_default.gif" width="1" height="1" alt="WeZ Stats"/></div>
<script src="http://www.google-analytics.com/urchin.js" type="text/JavaScript"></script><script type="text/javascript">_uacct = "UA-414744-6";urchinTracker();</script>
</body>
</html>
