<span style="font-weight:bold; display:block; border-bottom:1px dotted #424140; padding:0px 5px 0px 5px;">Comercial&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<ZTagXML.dolarComercial.horario>)</span>
Compra:&nbsp;R$<ZTagXML.dolarComercial.compra>
<br />Venda:&nbsp;R$<ZTagXML.dolarComercial.venda>

<span style="font-weight:bold; display:block; border-bottom:1px dotted #424140; padding:0px 5px 0px 5px;">Turismo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<ZTagXML.dolarTurismo.horario>)</span>
Compra:&nbsp;R$<ZTagXML.dolarTurismo.compra>
<br />Venda:&nbsp;R$<ZTagXML.dolarTurismo.venda>
