#box .footer-block{
    width: 960px;
    min-height: 100px;
    margin: auto
}
#box .footer-block h3{
    clear: left;
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 3px;
    padding: 0;
}
#box .footer-block ul{
    clear: left;
    float: left;
    list-style: none outside 
}
#box .footer-block ul li{
    clear: left;
    float: left;
    line-height: 14px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#box .footer-block a{

}
#box .footer-block a:visited, a:hover, a:active{

}