@charset "utf-8";

body {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
	background-color: #f7f6f3;
  margin: 0;
}
img {border:none;}

select, textarea, input, button {
}
a {
	color: #0e5796;
	border: 0 none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0.8em 0 0.4em 0;
	line-height: 1.5em;
}
h5
{
    font-size:small;
    color: #666;
}
.root{
    width: 960px;
    margin: auto;
}
#header {
	background: transparent url(/img/bg_header_x.gif) left top repeat-x scroll;
	height: 94px;
	min-height: 0;
	border: 0 none;
        z-index: -1;
}
#header .box-logo{
    margin: 0 10px 0 10px;
    float: left;
    min-width: 150px;
    height: auto;
    border:0;
}
#header .box-loggeduser{
	width: 300px;
	float: right;
	margin-right: 27px;
	padding-top: 1px;
	color: #fff;
	text-align: right;
	position: relative;
}

#header .box-loggeduser a{
	color: white;
	border: 0 none;
	text-decoration: underline;
}

#header .box-login{
    width: 300px;
    float: right;
    margin-right: 27px;
    padding-top: 10px;
    color: #fff;
    text-align: right;
    position: relative;
}
#container {
	background: transparent url(/img/bg_container_x.gif) left top repeat-x scroll #f7f6f3;
	overflow: hidden;
	z-index: -1;
}

#body{

}

#box .text{
  width: 700px;
  min-height: 200px;
  overflow: hidden;
}

#box .text p {
	text-align: justify;	
}

#box .perfil-box {
  width: 130px;
  min-height: 200px;
  overflow: hidden;
  font-size:90%; 
}
#box .perfil-box .img{
    margin-left: 5px;
    margin-top: 5px;
}

#box .perfil-newsfeed {
  width: 480px;
  min-height: 200px;
  overflow: hidden;
}

#box .perfil-events {
  width: 280px;
  min-height: 200px;
  overflow: hidden;
}
#box .perfil-box img {margin-right: 10px;
	float: left;
}

#box .perfil-user-name {margin-top: 10px;
	float: left;
  height: 40px;

}

#box .perfil-user-name a {font-size:small;
	color: #666;
}

#box .perfil-options dl {font-size:90%; line-height:100%; margin-top: 10px; float:left; width:130px}
#box .perfil-options dt{display:block; font-weight:bold; color:black; padding:2px 0 2px 2px; margin-bottom:3px; width:100%;background-color:lightgray;}
#box .perfil-options dd{display:block; margin:0px 0px 5px 2px; }
#box .perfil-options a {text-decoration:none;}
#box .perfil-options a:hover {text-decoration:underline;}

#box .perfil-option-qtd {display:block; float:right;}

#box .message-list{
  width: 480px;
  min-height: 200px;
  overflow: hidden;
}
		
#box .message-list-title td {
    background-color: #eee;
    border-top: 1px black solid;
}

#box .message-list-new td {font-weight:bold; }

#box .list-title td {
    border-top: 1px black solid;
}

.boxmenu-left ul {list-style-type: none;padding: 0px;margin: 0px;}